@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Sriracha');

:root {
	--header-height: 70px;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #422814; /* 背景色を茶色に */
    
    font-family : 'Sriracha', cursive;
    margin: 0;
    font-size: 48px;
    text-align: center;
    color: #fff;
}


#pic {
	margin-top: var(--header-height);
}


#intro {
	
}
