@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Sriracha');

:root {
	--header-height: 36px;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #422814; /* 背景色を茶色に */
    
    font-family : 'Sriracha', cursive;
    margin: 0; /* 余白をなくす */
    font-size: 24px; /* 文字の大きさを 24px に */
    font-weight: normal; /* 文字の太さを太くしない */
    text-align: center; /* テキストを中央揃えに */
    color: #fff; /* 文字色を白に */
}


#test {
	text-align: center;
}

.pic {
	margin-top: calc(var(--header-height) / 2);
}



#intro {
	
}



