@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Sriracha');

:root {
	--header-height: 108px;
	--font-size: 48px;
}

html {
	width: 100%;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #422814; /* 背景色を茶色に */
    
    font-family : 'Sriracha', cursive;
    margin: 0;
    font-size: calc(var(--font-size) * 1.5);
    text-align: center;
    color: #fff;
}


#intro {
	width: 100%;
	height: 500px;
	margin: 0;
}


#pic {
	margin-top: var(--header-height);
}

#intro-description {
	text-align: center;
}


